// navigation
$nav-size: 60px;


//slide show
$slideshow-margintop: 50px;
$slideshow-sm-size: 200px;
$slideshow-md-size: 250px;
$slideshow-lg-size: 300px;
$slideshow-size: 300px;
$slideshow-radius: 10px;

$screen-mb-min: 450px;
$slideshow-mb-size: 130px;

