<section class="dark footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>MED</h3>
        <h4>Contact Us</h4>
        <a href="tel:0993266161"> 099-3266161</a><br/>
        <a href="mailto:adisakchaiyakul@gmail.com"> adisakchaiyakul@gmail.com</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <h3>MED</h3>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Who are we?</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Become our partner</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <h3>MED</h3>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Who are we?</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Become our partner</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <h3>MED</h3>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Who are we?</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Become our partner</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>Social Media</h3>
        <div class="social-media">
          <a href="#"><i class="icon large fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="#"><i class="icon large fa fa-instagram" aria-hidden="true"></i></a>
          <a href="#"><i class="icon large fa fa-twitter-square" aria-hidden="true"></i></a>
        </div>
      </div>
     
    </div>
    
  </div>
</section>